/* Style Navbar */
.navbar-brand{
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
}

.nav-link{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}


/* utility */
.tombol{
    min-width: 193px;
    height: 50px;
    background: #061404;
    font-family: 'Viga', sans-serif;
    font-size: 30px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/* Jumbotron */
.jumbotron{
    background-image: url(/static/image/bullying.jpg);
    background-size: cover;
    height: 400px;
}

.jumbotron .display-4{
    font-family: 'Viga', sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0 , 0.7);
}
.jumbotron .display-4 span{
    font-weight: 500;
}

/* info panel */
.info-panel{
    box-shadow: 0px 3px 20px rgba(0, 0, 0 , 0.5);
    border-radius: 12px;
    background-color: white;
    margin-top: -200px;
    margin-bottom: 200px;
    /* padding: 20px; */
}

.info-panel h4{
    color: rgb(97, 95, 95);
    font-family: 'Montserrat', sans-serif;
}
.float-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.info-panel a{
    text-align: center;
    text-decoration: none;
}

.input-panel{
    padding: 20px;
    margin-top: -170px;
    margin-bottom: 200px;
}
.text{
    padding: 20px;
    margin-top: -200px;
    margin-bottom: 200px;
}
.text .judul{
    font-family: 'Viga', sans-serif;
    text-transform: uppercase;
}
.text .isi{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.text img{
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-hasil{
    padding: 20px;
    margin-top: -200px;
    margin-bottom: 200px;
    border-radius: 30px;
}
.text-hasil .judul{
    font-family: 'Viga', sans-serif;
    text-transform: uppercase;
    color: honeydew;
}
.text-hasil .isi{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: honeydew;
}
.form-control{
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}

.footer p{
    font-family: 'Montserrat', sans-serif;
}

.info-panel h4:hover{
    color: rgb(97, 95, 95);
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    border-bottom: 3px solid #4e0808;
}

@media (min-width:992px){
    .nav-link{
        text-shadow: 1px 1px 1px rgba(0, 0, 0 , 0.7);
    }
    .navbar-brand,.nav-link{
        color: white !important;
    }
    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #4e0808;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .jumbotron{
        margin-top: -75px;
        height: 300px;
    }
    .jumbotron .display-4{
        font-size: 50px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0 , 0.7);
    }
    .info-panel{
        margin-top: -100px;
        margin-bottom: 250px;
        padding: 20px;
    }

    .input-panel{
        padding: 20px;
        margin-top: -230px;
        margin-bottom: 200px;
    }
}