{% extends 'base_admin.html' %}

{% block head %}
<title>Home Admin</title>
{% endblock %}

{% block body %}
<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h3 class="mt-4">Selamat datang {{session['username']}}</h3>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Home</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Data Cyberbullying</div>
                                    <h3 class="card-body">{{num_cb}}</h3>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/lihat_data?score=0">View
                                            Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                     <div class="card-body">Data Irrelevant</div>
                                    <h3 class="card-body">{{num_ir}}</h3>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/lihat_data?score=1">View
                                            Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                     <div class="card-body">Data Netral</div>
                                    <h3 class="card-body">{{num_net}}</h3>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/lihat_data?score=2">View
                                            Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                     <div class="card-body">Data Bukan Cyberbullying</div>
                                    <h3 class="card-body">{{num_non}}</h3>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/lihat_data?score=3">View
                                            Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Grafik Distribusi Data Training</div>
                                    <div class="card-body">
                                    <img src="{{url_for('static', filename='plot_image/distribusi.png')}}"
                                         align="middle" width="100%" height="100%" alt="Grafik Akurasi">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-file mr-1"></i>Tambahkan Data Baru</div>
                                    <form action="/tambah_data" method="post">
                                          <div class="form-row">
                                              <div class="col-mb-2"></div>
                                                <div class="form-group col-md-10">
                                                  <label for="kalimat" >Kalimat</label>
                                                  <input type="text" class="form-control" name="kalimat" id="kalimat" placeholder="kalimat" align="right">
                                                </div>
                                          </div>
                                          <div class="form-row">
                                              <div class="col-mb-2"></div>
                                                <div class="form-group col-md-10">
                                                  <label for="label">label</label>
                                                  <select name="label" id="label" class="form-control">
                                                      <option selected>Label...</option>
                                                      <option>Cyberbullying</option>
                                                      <option>Irrelevant</option>
                                                      <option>Netral</option>
                                                      <option>Bukan Cyberbullying</option>
                                                  </select>
                                                </div>
                                          </div>
                                        {%with messages=get_flashed_messages(with_categories=True)%}
                                        {%if messages%}
                                            {%for category,message in messages%}
                                                <div class="form-row">
                                                    <div class="col-mb-2"></div>
                                                    <div class="form-group col-md-10">
                                                    <div class="alert alert-{{category}} alert-dismissible" role="alert">
                                                        <label class="text-info">{{message}}</label>
                                                    </div>
                                                    </div>
                                                </div>
                                            {%endfor%}
                                            {%endif%}
                                        {%endwith%}
                                        <div class="col-mb-12" align="center">
                                            <button type="submit" class="btn btn-primary" >Tambahkan</button>
                                        </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Tabel Data Training</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Komentar Asli</th>
                                <th>Komentar Bersih</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Komentar Asli</th>
                                <th>Komentar Bersih</th>
                                <th>Score</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{item[0]}}</td>
                                <td>{{item[2]}}</td>
                                <td>{{item[1]}}</td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2019</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
{% endblock %}