<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- MY Font -->
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=MuseoModerno:wght@100&family=Quicksand&family=Raleway:wght@300&family=Roboto:wght@100&family=Viga&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <!-- My Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <title>Cyberbullying</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">Cyberbullying-Detection</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="uji_komentar">Komentar</a>
                <a class="nav-item nav-link" href="post_identifikasi">Post Instagram</a>
                <a class="nav-item nav-link" href="bot_post">Bot Instagram</a>
            </div>
            </div>
        </div>
      </nav>
    <!-- AKhir Navbar -->
    <!-- Jumbutron -->
    <div class="jumbotron jumbotron-fluid" >
    <div class="container">
        <h1 class="display-4">Website Identifikasi komentar <span>CYBERBULLYING</span> pada komentar instagram</h1>
    </div>
    </div>
    <!-- AKhir Jumbotron -->
    <!-- Container -->
    <div class="container">
        <!-- info panel -->
        <div class="row justify-content-center">
            <div class="col-10 info-panel">
                <div class="row">
                <div class="col">
                    <a class="menu-link" href="uji_komentar">
                    <img src="{{url_for('static', filename='image/icons8-pen.png')}}" alt="coba" class="float-image">
                    <h4>Coba Identifikasi Komentar</h4></a>
                </div>
                <div class="col">
                    <a class="menu-link" href="post_identifikasi">
                    <img src="{{url_for('static', filename='image/icons8-instagram.png')}}" alt="coba" class="float-image">
                    <h4>Identifikasi Postingan tanpa Bot</h4></a>
                </div>
                <div class="col">
                    <a class="menu-link" href="bot_post">
                    <img src="{{url_for('static', filename='image/icons8-bot.png')}}" alt="coba" class="float-image">
                    <h4>Identifikasi Postingan dengan Bot</h4></a>
                </div>
                </div>
            </div>
        </div>
        {% block body %}

         {% endblock %}
        <!-- Akhir Space -->
        <!-- footer -->
        <div class="row footer">
            <div class="col text-center"><p>2020 All Rights Reserved By Arif Kurniawan</p></div>
        </div>
    <!-- AKhir Footer -->
    </div>
    <!-- Akhir Container -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>