{% extends 'base_user.html' %}
 {% block body %}
<script>
        function CheckPassword()
        {
            var x = document.forms["MyForm"]["kalimat"].value;
            var passw=  "https://www.instagram.com/p/";
            if (x == "") {
                alert("Form Tidak Boleh Kosong");
                return false;
            }else{
                if(x.match(passw))
                {
                    return true;
                }
                else
                {
                    alert("Yang Anda Inputkan Bukan Halaman Instagram")
                    return false;
                }
            }
        }
    </script>
     <div class="row justify-content-center">
            <div class="col-10 input-panel">
                <form action="instagram_post" method="post" onsubmit="return CheckPassword()" name="MyForm">
                <div class="input-group">
                <input type="text" class="form-control" name="kalimat"
                       id="exampleFormControlInput1"
                       placeholder="Masukan Kalimat.....">
                <input type="hidden" name="kode" value="2">
                <div class="input-panel-append">
                <button type="submit" class="btn btn-primary tombol" onclick="return CheckPassword()">Submit</button>
                </div>
                </div>
                </form>
            </div>
        </div>
        <!-- Space -->
        <div class="row information">
            <div class="col text">
                <img src="https://img.icons8.com/cotton/480/000000/robot-2.png"/>
            </div>
            <div class="col text">
                <h1 class="judul">Identifikasi Postingan dengan BOT</h1>
                <h4 class="isi">Fitur ini adalah salah satu fitur yang dapat melakukan identifikasi terhadap sebuah postingan instagram yang terintegrasi dengan akun <a href="https://www.instagram.com/deteksicyberbullying/">@deteksicyberbullying</a>, Jika ditemukan komentar berjenis cyberbullying, maka akun tersebut akan mengirimkan peringatan kepada akun yang berkomentar sebagai salah satu bentuk upaya preventif.
                </h4>
            </div>
        </div>
{% endblock %}