{% extends 'base_admin.html' %}

{% block head %}
<title>Grafik Model</title>
{% endblock %}

{% block body %}
<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h3 class="mt-4">Statistik Pengujian Model</h3>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Grafik Pengujian
                                        Model</div>
                                    <div class="card-body">
                                    <img src="{{url_for('static', filename='plot_image/kfold2.png')}}" align="middle"
                                         width="100%" height="100%" alt="Grafik Akurasi">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Matriks</div>
                                    <div class="card-body">
                                    <img src="{{url_for('static', filename='kfold/kfold1.png')}}" align="middle"
                                         width="100%" height="100%" alt="Grafik Akurasi">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2019</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
{% endblock %}