{% extends 'base_admin.html' %}

{% block head %}
<title>Perbarui Model</title>
{% endblock %}

{% block body %}
<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h3></h3>
                        <h3>Perbarui Model</h3>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Perbarui Model</div>
                                    <div class="card-body">
                                    Memperbarui Model akan membutuhkan waktu yang cukup lama, pembaruan model dapat
                                        berjalan optimal jika terdapat penambahan atau perubahan pada dataset.
                                        Klik tombol dibawah ini untuk mengetahui jumlah dataset.<br>
                                        <form action="/perbarui_model" method="post">
                                            <button type="submit" class="btn btn-danger">Cek Database</button>
                                        </form>
                                        {%with messages=get_flashed_messages(with_categories=True)%}
                                        {%if messages%}
                                            {%for category,message in messages%}
                                        <br>
                                            <div class="alert alert-warning alert-dismissible" role="alert">
                                            <label class="text-info">{{message}}</label>
                                             </div>
                                                <button type="submit" class="btn btn-danger"
                                                        onclick="myFunction()">Perbarui
                                                    Model</button>
                                                    <script>
                                                    function myFunction() {
                                                      var txt;
                                                      var r = confirm("Memperbarui Model Akan Memakan waktu yang cukup lama, apakah anda akan melanjutkaannya?");
                                                      if (r == true) {
                                                        window.location.href = "/perbarui_model?score=1";
                                                      } else {
                                                        window.location.href = "/perbarui_model";
                                                      }
                                                    }
                                                    </script>
                                            {%endfor%}
                                            {%endif%}
                                        {%endwith%}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Grafik Distribusi Data
                                        Model</div>
                                    <div class="card-body">
                                    <img src="{{url_for('static', filename='plot_image/distribusi.png')}}"
                                         align="middle"
                                         width="100%" height="100%" alt="Grafik Akurasi">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2019</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
{% endblock %}