{% extends 'base_user.html' %}
 {% block body %}
    <script>
        function CheckPassword()
        {
            var x = document.forms["MyForm"]["kalimat"].value;
            var passw=  "https://www.instagram.com/p/";
            if (x == "") {
                alert("Form Tidak Boleh Kosong");
                return false;
            }else{
                if(x.match(passw))
                {
                    return true;
                }
                else
                {
                    alert("Yang Anda Inputkan Bukan Halaman Instagram")
                    return false;
                }
            }
        }
    </script>
    <div class="row justify-content-center">
            <div class="col-10 input-panel">
                <form action="instagram_post" method="post" onsubmit="return CheckPassword()" name="MyForm">
                <div class="input-group">
                <input type="text" class="form-control" name="kalimat" id="exampleFormControlInput1" placeholder="Masukan Kalimat.....">
                <input type="hidden" name="kode" value="1">
                <div class="input-panel-append">
                <button type="submit" class="btn btn-primary tombol" onclick="return CheckPassword()" >Submit</button>
                </div>
                </div>
                </form>
            </div>
        </div>
        <!-- Space -->
        <div class="row information">
            <div class="col text">
                <img src="https://img.icons8.com/cute-clipart/480/000000/instagram-new.png"/>
            </div>
            <div class="col text">
                <h1 class="judul">Identifikasi Postingan Tanpa Bot</h1>
                <h4 class="isi">Fitur ini adalah salah satu fitur yang dapat melakukan identifikasi terhadap sebuah postingan instagram, cara menggunakannya user dapat memasukan url postingan pada kolom diatas dan sistem akan melakukan identifikasi. Hasil dari identifikasi akan ditampilkan kepada user dalam bentuk tabel.
                </h4>
            </div>
        </div>
{% endblock %}