{% extends 'base_user.html' %}
{% block body %}
    <div class="row justify-content-center">
            <div class="col-10 input-panel">
                <form action="instagram_post" method="post">
                 <div class="input-group">
                <input type="text" class="form-control" name="kalimat" id="exampleFormControlInput1" placeholder="Masukan Kalimat.....">
                <input type="hidden" name="kode" value="{{kode}}">
                <div class="input-panel-append">
                <button type="submit" class="btn btn-primary tombol">Submit</button>
                </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row information">
                <div class="col text">
                    <img src="/static/{{name_image}}" alt="Foto Postingan"/>
                </div>
    </div>
    <div class="row information" style="font-family: 'Montserrat', sans-serif;">
    <div class="col text-hasil">
        <table class="table table-list-search">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Komentar</th>
                    <th>Label</th>
                </tr>
            </thead>
            <tbody>
            {% for item in item %}
                <tr>
                    <td><a href="https://www.instagram.com/{{item[2]}}/">{{item[2]}}</a></td>
                    <td>{{item[1]}}</td>
                    <td>{{item[3]}}</td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}